amqp==5.3.1
asgiref==3.9.1
billiard==4.2.4
blinker==1.9.0
cachelib==0.14.0
celery==5.6.3
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
comtypes==1.4.12
Django==5.2.4
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.2
Flask-Caching==2.4.0
Flask-Login==0.6.3
Flask-Principal==0.4.0
Flask-Security==5.8.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
greenlet==3.5.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.6.2
libpass==1.9.3
MarkupSafe==3.0.3
packaging==26.2
pillow==11.3.0
prompt_toolkit==3.0.52
pyjokes==0.8.3
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.99
pywin32==311
redis==7.4.0
requests==2.32.4
six==1.17.0
SQLAlchemy==2.0.49
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
vine==5.1.0
wcwidth==0.7.0
Werkzeug==3.1.3
WTForms==3.2.2
